@charset="utf-8";

#access .acessibilidade, #access .acesso {
            display:inline-block;
            flex-flow: row;
            background-color:#464646;
            height:5vh;
            margin-left:0;
            margin-right:0;
   
        }
        

        
        
        .acessibilidade li a{
            display:inline-flex;
            justify-content: space-between;
}

        
        .acesso li {
            display:inline-flex;
            justify-content: space-between;
            cursor:pointer;
        }
        
        .acesso li a {
            color:white;
            text-decoration: none;
            cursor:pointer;
        }